.svg .frame {
    position: absolute;
    top:0;
    left:0;
    z-index:1;
}

.hoverImg {
    transition: opacity .2s ease-out;
    opacity:0;
}

.hoverImg:hover {
    opacity: 1;
}

.tag {
    position: absolute;
    background: white;
    border: 1px solid white;
    border-radius: 8px;
    z-index: 1;
    pointer-events: none;
}

.tag1a {
    top:50vh;
    left:25vw;
    width: 90px;
    height: 30px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    fill: orangered;
    width: 15px;
    height: 15px;
}

.tagName {
    margin:0;
}

.infoBox {
    position: absolute;
    background: white;
    border: 1px solid white;
    border-radius: 8px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.boxInfo {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.bI-head {
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boxIcons {
    width: 25%;
    border-left: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.infoBtns {
    display: flex;
    justify-content: space-around;
}

.infoBtn {
    border:none;
    color: white;
    background: orangered;
    border-radius: 8px;
    padding: 3px
}

.box1a {
    top:40vh;
    left:21vw;
    width: 200px;
    height: 150px;
    transition: opacity .2s ease-out;
    opacity:0;
}

.infoBox:hover {
    opacity: 1;
}

.IB-Icon {
    width: 25px;
    height: 25px;
}

.liltxt {
    font-size: small;
}
