.slide00 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.vidCont {
    width: 100vw;
    position: absolute;
    bottom: 10vh;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

.fp-btn {
    border: 1px solid #fff;
    background: rgba(0, 0, 0, .2);
    border-radius: 8px;
    padding: 1% 2% 1% 2%;
}

